/.spyderproject
/doc/Makefile
*.py[cod]
*.py.orig
*.nja
*.odb
*.textile
*.log
*.svg
*.png
*.pdf
*.lp
.idea
!doc/_files/*.svg
!doc/_files/*.png
!tests/lp_files/*.lp
doc/_build/
dist/*
oemof.egg-info/*
oemof_base.egg-info/*


