language: python
dist: xenial
cache: false
env:
  global:
    - LD_PRELOAD=/lib/x86_64-linux-gnu/libSegFault.so
    - SEGFAULT_SIGNALS=all

addons:
 apt:
   packages:
     - coinor-cbc

matrix:
  include:
    - python: '3.6'
      env:
        - TOXENV=check
    - env:
        - TOXENV=py36-cover,codecov,coveralls
      python: '3.6'
    - env:
        - TOXENV=py36-nocov
      python: '3.6'
    - env:
        - TOXENV=py37-cover,codecov,coveralls
      python: '3.7'
    - env:
        - TOXENV=py37-nocov
      python: '3.7'
    - env:
        - TOXENV=py38-cover,codecov,coveralls
      python: '3.8'
    - env:
        - TOXENV=py38-nocov
      python: '3.8'
#  allow_failures:
#    - python: '3.6'
#      env:
#        - TOXENV=docs
#    - os: osx
#      language: generic
#      env:
#        - TOXENV=py37-nocov
#    - os: osx
#      language: generic
#      env:
#        - TOXENV=py37-cover

before_install:
  - python --version
  - uname -a
  - lsb_release -a || true
  - |
    if [[ $TRAVIS_OS_NAME == 'osx' ]]; then
      [[ $TOXENV =~ py3 ]] && brew upgrade python
      [[ $TOXENV =~ py2 ]] && brew install python@2
      export PATH="/usr/local/opt/python/libexec/bin:${PATH}"
    fi
install:
  - python -mpip install --progress-bar=off tox -rci/requirements.txt
  - virtualenv --version
  - easy_install --version
  - pip --version
  - tox --version
script:
  - tox -v
after_failure:
  - more .tox/log/* | cat
  - more .tox/*/log/* | cat
notifications:
  email:
    on_success: never
    on_failure: always
