language: python

dist: xenial

matrix:
  include:
    - python: 3.5
    - python: 3.6
    - python: 3.7

# command to install dependencies
addons:
  apt:
    packages:
      - coinor-cbc

install:
  - pip install .[datapackage]
  - pip install coveralls

# command to run tests
script:
  - nosetests --with-doctest --with-coverage -c nose.cfg

after_success:
  - coveralls
