graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig

include AUTHORS.rst
include CITATION.cff
include CONTRIBUTING.rst
include LICENSE
include README.rst
include *.md
include VERSION

include tox.ini
include pytest.ini
include *.yml
include *.yaml

recursive-exclude examples *.py
recursive-include examples *.csv
recursive-include examples *.xlsx

global-exclude *.py[cod] __pycache__/* *.so *.dylib
