graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig

include AUTHORS.rst
include CHANGELOG.rst
include CITATION.cff
include CONTRIBUTING.rst
include LICENSE
include README.rst
include *.md
include VERSION
include pytest.ini

include tox.ini
include *.yml

recursive-exclude examples *.py
global-exclude *.py[cod] __pycache__/* *.so *.dylib
